* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.error {
  background: gray;
}

body {
  min-height: 100vh;
  background-color: lightgray;
}

article {
  text-align: center;
  background-image: url(/img/fondo-trivial.jpg);
  min-height: 100vh;
  /* border: 4 px solid white; */
  display: grid;
  place-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  border-style: dotted;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}

p#cinefilo {
  color: blueviolet;
}

section.panel.start {
  background-color: lightgrey;
  margin-left: 20vh;
}

section.panel.central {
  background-color: green;
  margin-left: 20vh;
}

section.panel.final {
  margin-left: 20vh;
  background-color: black;
  color: white;
}

section.panel.hidden {
  display: none;
}

footer p {
  text-align: center;
  text-decoration: dashed;
}
.right {
  background: palegreen;
}
.wrong {
  background: salmon;
}
.verdad {
  border: 2px solid black;
  background: palegreen;
  font-size: 24px;
}
.mentira {
  border: 2px solid black;
  background: salmon;
  font-size: 24px;
}
.time {
  font-size: 32px;
  color: red;
}
