* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: lightgrey;
}

section.panel {
    min-height: 100vh;
    border: 4 px solid white;
    display: grid;
    place-content: center;
    background-image: url(./imagenes);
    background-repeat: no-repeat;
    background-size: cover;
}

section.panel.start {
    background-color: lightgrey;
}

section.panel.central {
    background-color: green;
}

section.panel.final {
    background-color: black;
    color: white;
}





section.panel.hidden{
    display: none;
}